# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Credentials
google_credentials.json
credentials.json

# Excel Data Files
*.xlsx
*.xls
*.csv

# SQLite databases
*.db
*.sqlite3

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# macOS
.DS_Store

# Google Cloud
.gcloudignore
